# An * ensures that everything will be ignored.
*

# Whitelist file types
!*.yaml
!*.py
!*.md
!*.json
!*.js
!*.js.gz

# Whitelist Folders
!custom_components/
!custom_components/**/
!custom_compnents/**/**
!blueprints/
!blueprints/**/
!blueprints/**/**
!includes/
!includes/**
!packages/
!packages/*/
!packages/*/**
!themes/
!themes/*/
!themes/*/**
!www/
!www/community/
!www/community/**/
!www/community/**/**
!lovelace/
!lovelace/**

# Whitelist files
!configuration.yaml

#blacklist specific items
packages/google_assistant
packages/ha_dockermon
packages/pihole
secrets.yaml
known_devices_old.yaml
google_calendars.yaml
.gitignore